@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<nav id="user-navbar-container">
    <ul>
        <li><a asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="UserDetail">Chi Tiết</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Edit">Cập nhật thông tin</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="ChangePassword">Đổi mật khẩu</a></li>
        <li><a href="#">Lịch sử mua hàng</a></li>
        <li><a href="#">Tracking</a></li>
        <li><a href="#">Trợ giúp</a></li>
    </ul>
</nav>