@model ShopWeb.Models.ViewModels.LoginVM.LoginViewModel;
@{
}

<div class="container mx-auto">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6" id="login-container">

            <h1 class="mt-3 mb-3 h3">
                Login
            </h1>

            @using (Html.BeginForm("Login", "Account", FormMethod.Post))
            {
                <div class="mb-3">
                    @Html.LabelFor(m => m.Username, new { @class = "col-md-4 control-label" })
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                    <span class="text-danger" asp-validation-for="Username"></span>
                </div>
                <div class="mb-3">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @type = "password" })
                    <span class="text-danger" asp-validation-for="Password"></span>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-dark">Login</button>
                </div>

                <input type="hidden" asp-for="ReturnUrl"/>
            }

                <a href="#">Quên mật khẩu?</a>

        </div>
    </div>
</div>

