html {
    font-size: 14px;
    
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.dropdown-item {
    margin: 0 0 0 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url("../Assets/12804670_5086946.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.product-details-content img {
    max-width: 100%;
}

.myclass table {
    table-layout: auto !important;
}

.myclass th, .myclass td, .myclass thead th, .myclass tbody td, .myclass tfoot td, .myclass tfoot th {
    width: auto !important;
}


/*home product css*/
#home-page-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin: 50px;
}

#product-container {
    display: block;
    position: relative;
    border-radius: 15px; /* Adjust the value for the roundness of corners */
    border: 5px solid #ADD8E6; /* Light blue border */
    background-color: #F0F8FF; /* Light background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
    padding: 20px; /* Adjust as needed */
    margin: 10px 5px 10px 5px; /* Spacing between cards, adjust as needed */
}
#price-container {
    position: absolute;
    left: 0px;
    bottom: 0px;
}
#quantity-container {
    position: absolute;
    right: 20px;
    bottom: 20px;
}
#category-container {
    /*border: 10px solid blue;
    height: 100vh;
    background-color: floralwhite;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    margin: -30px;*/
    border-radius: 15px; /* Adjust the value for the roundness of corners */
    border: 5px solid #ADD8E6; /* Light blue border */
    background-color: #F0F8FF; /* Light background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
    padding: 20px; /* Adjust as needed */
    margin: 10px 10px 10px -40px; /* Spacing between cards, adjust as needed */
}
#product-p2-container {
    
}
#bestSeller-container {
    border-radius: 15px; /* Adjust the value for the roundness of corners */
    border: 5px solid #ADD8E6; /* Light blue border */
    background-color: #F0F8FF; /* Light background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
    padding: 20px; /* Adjust as needed */
    margin: 0px 10px 20px 37px; /* Spacing between cards, adjust as needed */
}
#index-container {
    display: block;
    margin: 10px 5px 10px 5px;
}
#index-bestSeller-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Set height to 100% of the viewport height */
}

.carousel {
    width: 40%; /* Adjust the width as needed */
}
.carousel-item img {
    height: 300px; /* Set the desired height for the images */
    width: auto; /* Maintain the aspect ratio */
    object-fit: cover; /* Ensure that the entire image is displayed within the specified dimensions */
}

#index-bestSeller-container h2 {
    text-align: center;
    margin-bottom: 20px; /* Adjust margin as needed */
}

#home-image-container {
    float: right;
    margin-left: 6px;
    border-radius: 15px; /* Adjust the value for the roundness of corners */
    border: 5px solid #ADD8E6; /* Light blue border */
    background-color: #F0F8FF; /* Light background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
    padding: 20px; /* Adjust as needed */
    margin-bottom: 20px; /* Spacing between cards, adjust as needed */
}
#product-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#search-allProducts-container {
    border-radius: 15px; /* Adjust the value for the roundness of corners */
    border: 5px solid #ADD8E6; /* Light blue border */
    background-color: #F0F8FF; /* Light background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
    padding: 20px; /* Adjust as needed */
    margin: 0 -50px 0 -6px;
}
#search-container {
    margin: 0 0 20px 1200px;
}
/*login, register, cateAdmin, productAdmin */
#login-container, #register-container, #cateAdmin-container, #productAdmin-container, #rating-container, #purchase-container, #response-container, #tracking-container, #history-container,
.variant-form {
    border-radius: 15px; /* Adjust the value for the roundness of corners */
    border: 5px solid #ADD8E6; /* Light blue border */
    background-color: #F0F8FF; /* Light background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
    padding: 20px; /* Adjust as needed */
    margin-bottom: 20px; /* Spacing between cards, adjust as needed */
}
#purchase-container, #response-container, #tracking-container, #history-container {
    margin-left: 200px;
}
/*UserAdmin*/
#userAdmin-container {
    border-radius: 15px; /* Adjust the value for the roundness of corners */
    border: 5px solid #ADD8E6; /* Light blue border */
    background-color: #F0F8FF; /* Light background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
    padding: 20px; /* Adjust as needed */
    margin-bottom: 20px; /* Spacing between cards, adjust as needed */
}
/*product detail*/
#product-detail-container {
    border-radius: 15px; /* Adjust the value for the roundness of corners */
    border: 5px solid #ADD8E6; /* Light blue border */
    background-color: #F0F8FF; /* Light background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
    padding: 20px; /* Adjust as needed */
    margin-bottom: 20px; /* Spacing between cards, adjust as needed */
}
/*user-navbar*/
#user-navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #333;
    padding: 20px;
}

#user-navbar-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#user-navbar-container li {
    margin-bottom: 15px;
}

#user-navbar-container a {
    color: white;
    text-decoration: none;
}
/*admin-navbar*/
#admin-sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* Initially hide the navbar off-screen */
    height: 100vh;
    width: 250px;
    background-color: #333;
    padding: 20px;
    transition: left 0.3s ease; /* Add smooth transition effect */
}

#admin-sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#admin-sidebar li {
    margin-bottom: 15px;
}

#admin-sidebar a {
    color: white;
    text-decoration: none;
}
#toggleButton {
    color: white;
    margin: 0 20px 0 20px;
    font-size: 24px;
}
#hideButton {
    color: white;
    font-size: 24px;
}

/*user detailcontainer*/
#user-detail-container {
    border-radius: 15px; /* Adjust the value for the roundness of corners */
    border: 5px solid #ADD8E6; /* Light blue border */
    background-color: #F0F8FF; /* Light background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
    padding: 20px; /* Adjust as needed */
    margin-bottom: 20px; /* Spacing between cards, adjust as needed */
    margin-left: 300px;
}

/* variant product form */
#form-group-variant-name, #form-group-variant-value {
    width: 50%;
    margin: 6px 6px 6px 6px;
}
.variant-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.delete-variant-btn {
    position: absolute;
    top: 5px; /* Adjust as needed */
    right: 5px; /* Adjust as needed */
}

.add-variant-value-btn {
    position: absolute;
    bottom: 5px; /* Adjust as needed */
    right: 5px; /* Adjust as needed */
}


/* product rating*/

.rating {
    font-size: 24px;
}

.star {
    color: #888;
    cursor: pointer;
}

.star.active {
    color: #ffc107; /* Change to your desired active color */
}

/* out of order*/
.image-container {
    position: relative;
    width: 100%; /* Ensure the container fills its parent */
    height: auto; /* Maintain aspect ratio */
}

.first-layer,
.second-layer {
    display: block;
    width: 100%; /* Ensure the image fills the container horizontally */
    height: auto; /* Maintain aspect ratio */
    position: absolute;
    top: 0;
    left: 0;
}

.first-layer {
    z-index: 1; /* Ensure the first layer is on top */
    opacity: 0.5;
}

.second-layer {
     /* Set the opacity for the second layer */
    z-index: 0; /* Ensure the second layer is below the first layer */
}
